body{
    padding: 100px 70px 100px 40px;
    background-color: black
}
.main0{
    margin-left: 265px;
    display: flex;
    flex-wrap: wrap;
}
img{
    border-radius: 50px;
    margin: 10px 0px 0px 10px;
}
img:hover{
    cursor: pointer;
}
.left1{
    background-color: blue;
    color: white;
    width: 180px;
    height: 215px;
    border-radius: 14px;
    position:absolute;
    padding-left: 15px;
}
.left2{
    background-color: darkblue;
    color:gray;
    font-size: small;
    width: 180px;
    height: 120px;
    border-radius: 8px;
    position: absolute;
    top: 317px;
    z-index: -1;
    padding-left: 15px;
    padding-top: 10px;
}
.left2 > p:hover{
    color: white;
}
.main1{
    display: flex;
    flex-wrap: wrap;   
}
.box1{
    background-color:orange;
    width: 200px;
    height: 150px;
    border-radius: 14px;
    margin-left: 215px;
}
.box2{
    background-color: rgb(0, 166, 255);
    width: 200px;
    height: 150px;
    border-radius: 14px;
    margin-left: 20px;
}
.box3{
    background-color:rgba(239, 49, 49, 0.937);
    width: 200px;
    height: 150px;
    border-radius: 14px;
    margin-left: 20px;
}
.main2{
    display: flex;
    flex-wrap: wrap;
}
.box4{
    background-color:rgb(43, 234, 43);
    width: 200px;
    height: 150px;
    border-radius: 14px;
    margin-left: 215px;
    margin-top:35px;
}
.box5{
    background-color:rgb(122, 9, 179);
    width: 200px;
    height: 150px;
    border-radius: 14px;
    margin-left: 20px;
    margin-top:35px;
}
.box6{
    background-color:yellow;
    width: 200px;
    height: 150px;
    border-radius: 14px;
    margin-left: 20px;
    margin-top:35px;
}
.main3{
    display: flex;
    flex-wrap: wrap;
}
.main3 > div{
    background-color: darkblue;
}
.content1{
    width: 200px;
    height: 110px;
    border-radius: 8px;
    margin-left: 215px;
    position: absolute;
    top: 155px;
    color: white;
}
.content2{
    width: 200px;
    height: 109px;
    border-radius: 8px;
    margin-left: 435px;
    position: absolute;
    top: 156px;
    color: white;
}
.content3{
    width: 200px;
    height: 109px;
    border-radius: 8px;
    margin-left: 655px;
    position: absolute;
    top: 156px;
    color: white;
}
.main4{
    display: flex;
    flex-wrap: wrap;
}
.main4 > div{
    background-color: darkblue;
}
.content4{
    width: 200px;
    height: 110px;
    border-radius: 8px;
    margin-left: 215px;
    position: absolute;
    top: 340px;
    color: white;
}
.content5{
    width: 200px;
    height: 110px;
    border-radius: 8px;
    margin-left: 435px;
    position: absolute;
    top: 340px;
    color: white;
}
.content6{
    width: 200px;
    height: 110px;
    border-radius: 8px;
    margin-left: 655px;
    position: absolute;
    top: 340px;
    color: white;
}